<div class="row" >
    <div class="main">
        <mat-card-title>
            <p>
                <span class="f">F</span>
                <span class="u">u</span>
                <span class="n">n</span>
                <span class="d">d</span>
                <span class="o">o</span>
                <span class="O">o</span>
            </p>
        </mat-card-title>
        <form [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()">
            <h1 >Enter your Email</h1>
            <div class="email"  fxLayout="column" fxLayoutWrap fxLayoutGap="10px" fxLayout.xs="column">
                <div >
                    <mat-form-field [style.fontSize.px]="12" appearance="outline" fxFlex="100" fxFlex.xs="100">
                        <mat-label>Email</mat-label>
                        <input matInput type="text" placeholder="Email" formControlName="email" id="email">
                        <mat-icon matSuffix>email</mat-icon>
                    </mat-form-field>
                </div>
                <div class="btn btn-link" color="primary">
                    <button class="loginbutton" mat-raised-button id="b1" on>Submit</button>
                </div>
    
            </div>

        </form> 
    </div>