<!-- <div style="display: block;justify-content: center;flex-direction: row;margin-left: 30%; margin-top:4% ;">
  <form [formGroup]="noteForm" [ngStyle]="{'background-color': colors}">
    <div *ngIf="!hide" (click)="setClicked()" style="width: 500px; "fxLayout="space-between" fxFlex.gt-md="50">
      <a style="margin-left:5%  ;width: 10%;">
        Take a Note
        <div *ngIf="show" fxLayout="row" class="img">
          <div class="img1" style="margin-top: auto;">
            <mat-icon>check_box</mat-icon>
          </div>
          <div class="img2">
            <mat-icon>brush</mat-icon>
          </div>
          <div class="img3" >
            <mat-icon>photo</mat-icon>
          </div>
        </div>
      </a>
    </div>
    <div *ngIf="hide">
      <div>
        <div class="first">
          <input type="text" placeholder="Title" formControlName="Title" />
          <button mat-icon-button>
            <mat-icon class="material-icons-outlined">push_pin</mat-icon>
  
          </button>
        </div>
      </div>
  
      <div class="second">
        <input type="text" placeholder="Take a note..." formControlName="Body" />
        <div></div>
      </div>
      <div style="display: flex;opacity: 1px;left: auto;">
        <app-icons  (backGroundColor)="createColor($event)"></app-icons>
        <button class="close" mat-stroked-button (click)="createNote()">Close</button>
      </div>
    </div>
  </form>
</div> -->




<mat-card class="cn-card ">
  <div class="card-title" *ngIf="fullEdit">
      <input class="title-in font" matInput placeholder="Title" id="title" [(ngModel)]="title">
  </div>

  <div class="note-input" (click)=displayFull()>
      <textarea contenteditable="true" aria-multiline="true" role="textbox" Placeholder="Take a note..."
          class="notes-main" tabindex="0" spellcheck="true" id="description" [(ngModel)]="description"></textarea>
      <div class="img-upload" *ngIf="!fullEdit"></div>
  </div>

  <div class="card-bottom" id="bottom" *ngIf="fullEdit"  fxLayout="row" fxLayoutAlign="space-evenly none">
      <div class="note-prop" >
          <div class="reminder prop" role="button"></div>
          <div class="back-img prop" role="button"></div>
          <div class="back-color prop" role="button"></div>
          <div class="archive prop" role="button"></div>
          <div class="more-opn prop" role="button"></div>
          <div class="undo prop" role="button" disabled></div>
          <div class="redo prop" role="button"></div>
      </div>

      <div class="close-note" (click)="addNote()">Close</div>
  </div>

</mat-card>
