// .openedmatcard{
//     width:40%;
//     height:auto;
//     //left:25%;
//     right: 400px;
//     margin-top: 20px;
//     display: flex;
//     cursor: text;
//     background-color:white;
//     align-items: center;
//     top:50px;
//   }
//   .input{
//     width:95%;
//     //height:20px;
//     height:auto;
//     border: none;
//     outline: none;
//     background-color:white;
//     margin-bottom: 15px;
//     position: relative;
//   }
//   .searchbar{
//     background-color: white;
//       margin: 0 0;
//       height: 25px;
//       width: 100%;
//       top: 20px;
//       display: flex;
//       align-items: center;
//       justify-content: space-between;
//       border:none;
//       outline: none;
//   }
//   .closedmatcard{
//     width:40%;
//     height: 10px;
//     position:sticky;
//     left: 28%;
//     background-color: white;
//     display: flex;
//     flex-direction: row;
//     align-items: center;
//     z-index:1000;
//     top: 20px;
//   }
//   .note
//     {
//       margin-bottom: 50px;
//       margin-top: 3px;
//       justify-content: center;
//     }
//     .d-flex
//     {
//         display: flex;
//     }
//   .takeNote{
//       // font-weight: 500;
//       // padding: 15px;
//       opacity: 50%;
//       background-color: white;
    
//      // height: 25px;
//       width: 100%;
//      // top: 20px;
//       align-items: center;
//       justify-content: space-between;
//       border:none;
//       outline: none;
//   }
//   .space
//   {
//       justify-content: space-between;
//   }
//   .notetext{
//       font-weight: 400;
//       font-size: 1rem;
//       border: none;
//       background: white;
//       width: 20em;
//       font-family: Roboto,Arial,sans-serif;
//       outline: none;
//       height: auto;
//       margin-left: 15px;
//   }
  
//   .box{
//   display: flex;
//   margin-left: 0.5cm;
//   }
//   .note-div{
//     margin-left:25%;
//   }
//   .cancelclass{
//   width:15%;
//   Text-align:center;
//   margin-left: 70%;
//   position: sticky;
//   }
//   .bottomalign
//   {
//   width: 60%;
//   Text-align:left;
//   float:left;
//   }
//   .noteicon{
//       left:60%;
//       background-color: white;
//   }
  
  
//   .mar:hover{
//       .remind-div{
//           visibility: visible;
//         }
//     }
  
//     .remind-div{
//       outline: none;
//       border: none;
//       background-color: transparent;
//       visibility: hidden;
//     }
//     .lab-div{
//       outline: none;
//       border: none;
//       background-color: transparent;
//       visibility: hidden;
//     }
//     .mars:hover{
//       .lab-div{
//         visibility: visible;
//       }
//     }
//     .labe{
//       flex-wrap: row-wrap;
//     }
//     .Cbutton
//     {
//         margin-top: 10px;
//         margin-left: 5px;
//         margin-right: -10px;
//     }




// .takeNoteContainer{
//   margin-left: 30%;
//   margin-right: 35%;
//   border: 1px solid gainsboro;
//   border-radius: 6px;
//   opacity: 1;
//   margin-top: 2.25%;
//   padding: 1%;
//   direction: ltr;
//   white-space: nowrap;
//   background: transparent;
//   font: normal 16px Google Sans,Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
//   font-variant-ligatures: none;
//   box-shadow: 1% 1% 10% 10% rgb(220, 220, 228);
  
// }

// input{
//   border: none;
// }





input {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  border-style: none;
  height: 45px;
  //   padding: 10px 30px;
}
input:focus,
textarea:focus,
select:focus {
  outline: none;
}
button {
  opacity: 80%;
}
button:hover {
  background-color: #f1f3f4;
}
.mat-icon {
  font-size: 20px;
}
form {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 10px;
  width: 650px;
  .first {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2px 15px 0px 20px;
    input {
      width: 100%;
    }
    
  }
  .img1{
    margin-left: 95%;
    width: 0px;
    height: 0px;
    
  }
  
  .img2{
   
    margin-left: 105%
    
  }
  
  .img3{
    margin-left:115%;
   
  }
  .firsttext {
    display: none;
  }
  .second {
    padding: 2px 20px;
    display: flex;
    input {
      width: 100%;
    }
  }
  .secondtext {
    display: none;
  }

}
@media screen and (max-width: 700px) {
  form {
    width: 500px;
  }
}
@media screen and (max-width: 515px) {
  form {
    width: 400px;
    .third {
      .icons {
        width: 300px;
        .undo,
        .redo {
          display: none;
        }
      }
      .close {
        padding-left: 10px;
        padding-right: 10px;
      }
    }
  }
}
@media screen and (max-width: 418px) {
  form {
    width: 340px;
    .third {
      .icons {
        width: 250px;
        .undo,
        .redo {
          display: none;
        }
      }
    }
  }
}











// .mat-card{
//   margin-left: -10px;
//   top: 20px;
//   position: center;
//   width: 600px;
//   padding: 32px auto 20px auto;
//   background: white;
//   padding: 10px;
//   border-radius: 7px;
//   box-shadow: 0 1px 7px rgb(128, 128, 128);
//   overflow: hidden;
// }

// .t1{
//   height: 50px;
// }

// .t2{
//   height: 80px;
//   overflow: hidden;
// }

// .t2 textarea{
//   overflow: hidden;
// }



// .mat-form-field input{
//   width: 90%;
//   border: gray;
//   margin: 10px 10px;
//   margin-bottom: 20px;
//   outline:  none;
//   font-size: 1rem;
//   resize: none;
// }

// .mat-form-field textarea{
//   width: 90%;
//   border: gray;
//   margin: 8px 8px;
//   margin-bottom: 20px;
//   outline:  none;
//   font-size: 1rem;
//   resize: none;
// }

// .note{
//   width: 40%;
//   height: 60%;
// }

// .notes{
//   height: 20px;
//   border-color: white;
//   border-radius: 2px;
// }

// .img1{
//   margin-left: 75%;
//   width: 0px;
//   height: 0px;
//   margin-top: -70px;
  
// }

// .img2{
//   width: 1px;
//   height: 15px;
//   margin-left: 85%
// }

// .img3{
//   width: 1px;
//   height: 15px;
//   margin-left:95%;
//   margin-top: -12px;
// }

// .btn1{
//   margin-left: 70%;
//   margin-top: -8%;
//   user-select: none;
// }

// ::ng-deep .mat-form-field-underline {
//   display: none;
// }

// @media screen and (max-width:360px){
//   .mat-card{
//       margin-left: -45px;
//       margin-right: 35px;
//       width: 285px
//   }

//   .btn1{
//       margin-right: 30px;
//   }

//   .img1{
//       margin-right: 25px;
//   }
//   .img3{
//       margin-right: 2px;
//   }

//   .btn1{
//       margin-top: -35px;
//   }
// }