



// .icons{
//   padding: 3px 25px 3px 10px;
//   width: 200px;
//       cursor: pointer
//   ;
//   margin-top: 12%;
//   margin-left: 13px;
// }
// .img1{
//   margin-top: -10%;
//   margin-left: 13px;
// }


// .img2{
//   margin-top: -10%;
//   margin-left: 13px;
//   cursor: pointer;
// }

// .img3{
//   margin-top: -14%;
//   margin-left: 13px;
//   cursor: pointer;  width: 45px;
//   height: 50px;
// }

// .img4{
//   margin-top: -10%;
//   margin-left: 13px;
//   cursor: pointer;
// }

// .img5{
//   margin-top: -10%;
//   margin-left: 13px;
//   cursor: pointer;
// }

// .img6{
//   margin-top: -14%;
//   margin-left: 13px;
//   cursor: pointer;
// }
// .delete{
//   display:flex;
// }




.container{
  flex-direction: row;
  
}
.sub-container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
 
}

.buttons{
  border: none;
  outline: none;
  background-color: transparent;
  margin-top: 40px;   
}

.menu-icon{
  margin-top: 33px;
  margin-left: -10px;
}

.menu-icon:hover {
  background-color: lightgrey;
  // padding: 2px 2px 2px 2px;
  border-radius: 50px;
}

.icons{
  display: flex;
  flex-direction: row;
}

.icon:hover {
  background-color: lightgrey;
  padding: 2px 2px 2px 2px;
  border-radius: 50px;
}


#icon {
  margin-left: -30px;
  // margin-right: 10px;
  
}

#icon:hover {
  background-color: lightgrey;
  padding: 2px 2px 2px 2px;
  border-radius: 50px;
}

#pin-icon {
  margin-left: -45px;
  background-color: transparent;
  margin-top: 0px;
  z-index: 4; 
}

.pop {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  background-color: white;
  max-width: 170px;
  margin-left: 5px;
}
.colorButton {
  margin-right: 1px;
  white-space: 2px;
}