<!-- <div class="common-icons" fxFlex="100" fxLayout="row" fxLayoutAlign="space-between">
    <mat-icon>add_alert</mat-icon>
    <mat-icon>person_add_alt</mat-icon>
    <mat-icon>color_lens</mat-icon>
    <mat-icon>photo_size_select_actual</mat-icon>
    <mat-icon>archive</mat-icon>
    <mat-icon>more_vert</mat-icon>
</div> -->


<div class="third" style="display: flex;size: 5px;">
    <div class="icons">
      <button mat-icon-button style="size: 5%;">
        <mat-icon class="material-icons-outlined">notifications_none</mat-icon>
      </button>
      <button mat-icon-button>
        <mat-icon class="material-icons-outlined">person_add</mat-icon>
      </button>
      <button mat-icon-button>
        <mat-icon class="material-icons-outlined">color_lens</mat-icon>
      </button>
      <button mat-icon-button>
        <mat-icon class="material-icons-outlined">insert_photo</mat-icon>
      </button>
      <button mat-icon-button>
        <mat-icon class="material-icons-outlined">archive_outline</mat-icon>
      </button>
      <button mat-icon-button (click)=" deleteNote()">
        <mat-icon style="background-blend-mode: normal;"> delete</mat-icon>
    </button>
      <button mat-icon-button>
        <mat-icon class="material-icons-outlined">more_vert</mat-icon>
        <!-- <button mat-icon-button disabled class="undo">
          <mat-icon class="material-icons-outlined">undo</mat-icon>
        </button>
        <button mat-icon-button disabled class="redo">
          <mat-icon class="material-icons-outlined">redo</mat-icon>
        </button> -->
        

     
 



  