
    <!-- <div style="margin-left: 8%;" fxLayoutGap="2px" class="card">
        <mat-card class="note" id="noteId" *ngFor = 'let note of NotesArray' [ngStyle]="{'background-color': note.color}">
            <div class="card1">
                <h1 (click)="openDialog(note)">{{note.title}}</h1>
                <p (click)="openDialog(note)">{{note.description}}</p>
                <app-icons  [noteId]="note" class="icon"></app-icons>
            </div>
        
        </mat-card>
    </div> -->



    <div class="note-container" *ngFor="let note of allNotes">
        <mat-card class="card" style="min-width: 260px;" [style.background]="note.color">
            <div class="mainBlock" (click)="openDialog(note)" [style.background]="note.color">
                <div [style.background-color]="colorData">
                    <strong class="title">{{note.title}}</strong>
                </div>
    
                <div id="description" #description contenteditable="false" aria-multiline="true" role="textbox"
                    class="font n1" dir="ltr" [style.background-color]="note.color">{{note.description}}</div>
    
            </div>
            <div class="icon" [style.background-color]="note.color">
                <app-icons class="icon" [noteId]="note.id" [noteData]="note"></app-icons>
            </div>
        </mat-card>
    </div>