<!-- <div>
    <div>
        <input [(ngModel)]='title' />
    </div>
    <div>
        <input [(ngModel)]='description' />
    </div>
    <button (click)="updateNotes(data)">close</button>
</div> -->



<div style="display:flex;flex-direction: row;margin-top: 20px; width: 100%;" fxLayout="row" fxLayoutAlign="center center" fxLayout.xs="column"
    [style.backgroundColor]='data.color'>

    <form style="width: 100%;">

        <div>
            <input matInput placeholder="Title" name="title" class="inputbase" [(ngModel)]="data.title">
        </div>
        <button mat-icon-button class="icons push_pin">
            <mat-icon class="material-icons-outlined" style="display: inline-block;margin-left: 900%;margin-bottom: 10%;">push_pin</mat-icon>
        </button>
        <div>


            <input matInput placeholder="Take a note ..." name="description" [(ngModel)]='data.description'
                class="inputbase">
        </div>

        <div class="iconAndButton">
            <button mat-button style="margin-left: 58%;" (click)=updateNotes(data)>CLOSE</button>
        </div>
        <app-icons></app-icons>
    </form>

</div>


<!-- <div class="outer" style="display: inline-block">
    <div style="display: inline-block;margin-right: 10px;margin-bottom:10px ;">
        <form [formGroup]='noteForm' style="flex:content;justify-content: center">
            <div class="format" style="display: inline-block">
                <div class="first">
                    <div class="title"> <input matInput placeholder="Title" name="title" class="inputbase" [(ngModel)]="data.title"></div>
                    <button mat-icon-button class="icons push_pin">
                        <mat-icon class="material-icons-outlined">push_pin</mat-icon>
                    </button>
                </div>
                <div class="second">
                    <div >  <input matInput placeholder="Take a note ..." name="description" [(ngModel)]='data.description'
                        class="inputbase"></div>
                    <div></div>
                </div>
                <div class="iconAndButton">
                    <button mat-button style="margin: 0 0;" (click)=updateNotes(data)>CLOSE</button>
                </div>
            </div>
        </form>
    </div>
</div>
                <app-icons></app-icons> -->