



<!-- <div style="display:flex;flex-direction: row;margin-top: 20px; width: 100%;" fxLayout="row" fxLayoutAlign="center center" fxLayout.xs="column"
    [style.backgroundColor]='data.color'>

    <form style="width: 100%;">

        <div>
            <input matInput placeholder="Title" name="title" class="inputbase" [(ngModel)]="data.title">
        </div>
        <button mat-icon-button class="icons push_pin">
            <mat-icon class="material-icons-outlined" style="display: inline-block;margin-left: 900%;margin-bottom: 10%;">push_pin</mat-icon>
        </button>
        <div>


            <input matInput placeholder="Take a note ..." name="description" [(ngModel)]='data.description'
                class="inputbase">
        </div>

        <div class="iconAndButton">
            <button mat-button style="margin-left: 58%;" (click)=updateNotes(data)>CLOSE</button>
        </div>
        <app-icons></app-icons>
    </form>

</div> -->












<div class="mainBlock" flex=50px>
    <div fxLayout="row" fxLayoutAlign="space-between" class="title">
        <input placeholder="Title" [(ngModel)]="title">
        <button mat-icon-button id="pin"><img src='/assets/pin.svg'></button>
    </div>

    <br>

    <div class="description">
        <input [(ngModel)]="description" placeholder="Note">
    </div>

    <br>

    <div class="card-bottom" id="bottom" fxLayout="row" fxLayoutAlign="space-evenly none">
        <div class="note-prop">
            <div class="reminder prop" role="button"></div>
            <div class="back-img prop" role="button"></div>
            <div class="back-color prop" role="button"></div>
            <div class="archive prop" role="button"></div>
            <div class="more-opn prop" role="button"></div>
            <div class="undo prop" role="button" disabled></div>
            <div class="redo prop" role="button"></div>
        </div>
<app-icons></app-icons>
        <div class="close-note" id="close" (click)=updateNote() >Close</div>
    </div>

</div>












                